<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        window.onload = function () {
            {% if error %}
            alert("{{ error }}");
            {% endif %}
        };
    </script>
</head>

<body>

    <nav>
        <a href="{{ url_for('index') }}">← На главную</a>
    </nav>

    <h2>Вход</h2>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Логин" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <button type="submit">Войти</button>
    </form>

</body>

</html>